---
import { TABS } from '@/lib/site-data';
---

<nav class="border-b border-gh-border-muted bg-gh-repo-nav">
  <div class="max-w-[1280px] mx-auto px-6">
    <ul class="flex list-none overflow-x-auto scrollbar-none">
      {TABS.map((tab) => (
        <li class="shrink-0">
          {tab.active ? (
            <a href="/" class="flex items-center gap-1.5 px-4 py-2 text-sm leading-[30px] text-gh-fg font-semibold border-b-2 border-b-gh-nav-active no-underline whitespace-nowrap transition-[border-color] duration-100 hover:no-underline md:max-lg:px-4 max-md:px-2.5 max-md:text-xs">
              <span class="flex items-center text-gh-fg">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                  <path d="m11.28 3.22 4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L13.94 8l-3.72-3.72a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215Zm-6.56 0a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042L2.06 8l3.72 3.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L.47 8.53a.75.75 0 0 1 0-1.06Z"></path>
                </svg>
              </span>
              <span class="text-sm max-md:text-xs">{tab.name}</span>
            </a>
          ) : (
            <span class="flex items-center gap-1.5 px-4 py-2 text-sm leading-[30px] text-gh-fg-muted border-b-2 border-b-transparent no-underline whitespace-nowrap opacity-50 cursor-default pointer-events-none transition-[border-color] duration-100 max-md:px-2.5 max-md:text-xs">
              <span class="flex items-center text-gh-fg-muted">
                {tab.icon === 'issue' && (
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Z"></path>
                  </svg>
                )}
                {tab.icon === 'pr' && (
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                    <path d="M1.5 3.25a2.25 2.25 0 1 1 3 2.122v5.256a2.251 2.251 0 1 1-1.5 0V5.372A2.25 2.25 0 0 1 1.5 3.25Zm5.677-.177L9.573.677A.25.25 0 0 1 10 .854V2.5h1A2.5 2.5 0 0 1 13.5 5v5.628a2.251 2.251 0 1 1-1.5 0V5a1 1 0 0 0-1-1h-1v1.646a.25.25 0 0 1-.427.177L7.177 3.427a.25.25 0 0 1 0-.354ZM3.75 2.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5Zm0 9.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5Zm8.25.75a.75.75 0 1 0 1.5 0 .75.75 0 0 0-1.5 0Z"></path>
                  </svg>
                )}
                {tab.icon === 'actions' && (
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Zm4.879-2.773 4.264 2.559a.25.25 0 0 1 0 .428l-4.264 2.559A.25.25 0 0 1 6 10.559V5.442a.25.25 0 0 1 .379-.215Z"></path>
                  </svg>
                )}
                {tab.icon === 'projects' && (
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                    <path d="M1.75 0h12.5C15.216 0 16 .784 16 1.75v12.5A1.75 1.75 0 0 1 14.25 16H1.75A1.75 1.75 0 0 1 0 14.25V1.75C0 .784.784 0 1.75 0ZM1.5 1.75v12.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V1.75a.25.25 0 0 0-.25-.25H1.75a.25.25 0 0 0-.25.25ZM11.75 3a.75.75 0 0 1 .75.75v7.5a.75.75 0 0 1-1.5 0v-7.5a.75.75 0 0 1 .75-.75Zm-8.25.75a.75.75 0 0 1 1.5 0v5.5a.75.75 0 0 1-1.5 0ZM8 3a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 8 3Z"></path>
                  </svg>
                )}
                {tab.icon === 'security' && (
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                    <path d="M7.467.133a1.748 1.748 0 0 1 1.066 0l5.25 1.68A1.75 1.75 0 0 1 15 3.48V7c0 1.566-.32 3.182-1.303 4.682-.983 1.498-2.585 2.813-5.032 3.855a1.697 1.697 0 0 1-1.33 0c-2.447-1.042-4.049-2.357-5.032-3.855C1.32 10.182 1 8.566 1 7V3.48a1.75 1.75 0 0 1 1.217-1.667Zm.61 1.429a.25.25 0 0 0-.153 0l-5.25 1.68a.25.25 0 0 0-.174.238V7c0 1.358.275 2.666 1.057 3.86.784 1.194 2.121 2.34 4.366 3.297a.2.2 0 0 0 .154 0c2.245-.956 3.582-2.104 4.366-3.298C13.225 9.666 13.5 8.36 13.5 7V3.48a.251.251 0 0 0-.174-.237Z"></path>
                  </svg>
                )}
                {tab.icon === 'insights' && (
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                    <path d="M16 1.25v4.146a.25.25 0 0 1-.427.177L14.03 4.03l-3.75 3.75a.75.75 0 0 1-1.06 0l-2.47-2.47-3.97 3.97a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734l4.5-4.5a.75.75 0 0 1 1.06 0l2.47 2.47 3.22-3.22-1.543-1.544A.25.25 0 0 1 11.604 1h4.146a.25.25 0 0 1 .25.25Z"></path>
                  </svg>
                )}
              </span>
              <span class="text-sm max-md:text-xs">{tab.name}</span>
              {tab.count !== null && (
                <span class="text-xs px-1.5 bg-gh-counter rounded-full min-w-5 text-center leading-[18px] font-normal">{tab.count}</span>
              )}
            </span>
          )}
        </li>
      ))}
    </ul>
  </div>
</nav>
